{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mb-3 mt-3 justify-content-center">
  <h2 class="text-center">Wishlist</h2>
</div>

<div class="row justify-content-center">
  {% for product_id, product_info in wish.items %}
  <div class="card mb-3 mx-2" style="max-width: 18rem;">
    <a href="">
      <img src="{{ product_info.image_url }}" class="card-img-top p-2" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Name : {{ product_info.name }}</h5>
      <p class="card-text">MRP : {{ product_info.price }}</p>
      <p class="card-text">MRP : {{ product_info.brand }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-center">
<!--        <a href="" class="btn btn-primary w-100" type="button">Add to Cart</a>-->
      </li>
      <li class="list-group-item d-flex justify-content-center">

       <form action="{% url 'delete_wish_product' product_id=product_id %}" method="post">
  {% csrf_token %}
  <button class="btn btn-outline-danger w-100" type="submit">Remove Item</button>
</form>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock content %}
{% block scriptcontent %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
$(document).ready(function(Id) {

    $('#delete-btn').on('click', function() {
        var cartId = $(this).data('cart-id');
        $.ajax({
            url: '/cart/delete/' + cartId + '/',
            type: 'POST',
            dataType: 'json',
            success: function(data) {
                alert(data)
                $('#cart-item-' + data).remove();

                if (data.success) {
                    // Delete item from view without reload
                    // e.g. remove the cart item element from DOM

                } else {
                    // Show error message
                    alert('Error: ' + data.error);
                }
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    });
});
</script>



{% endblock scriptcontent %}