{% extends 'main.html' %}

{% block content %}

<div class="row">
  <div class="col"></div>
  <div class="col">
    <h1>Create Variant</h1>
<form method="post" id="signup-form" enctype="multipart/form-data" required>
      {% csrf_token %}
        {% for field in current_object %}
     <h1>{{ field.brand }}</h1>
            {% endfor %}

      <div class="form-group">
        <label for="id_product">Product</label>
        <select class="form-control" name="product" id="id_product" required>
          <option value="">Select Product</option>
          {% for product in products %}
            <option value="{{ product.pk }}" {% if product.pk == form.product.value %}selected{% endif %}>{{ product.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="id_image">Image</label>
        <input type="file" class="form-control" name="image" id="id_image" required>
      </div>

      <div class="form-group">
        <label for="id_image2">Image 2</label>
        <input type="file" class="form-control" name="image2" id="id_image2" required>
      </div>

      <div class="form-group">
        <label for="id_image3">Image 3</label>
        <input type="file" class="form-control" name="image3" id="id_image3" required>
      </div>

      <div class="form-group">
        <label for="id_banner">Banner</label>
        <input type="file" class="form-control" name="banner" id="id_banner" required>
      </div>

      <div class="form-group">
        <label for="id_quantity">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="id_quantity" value="1" required>
      </div>

      <div class="form-group">
        <label for="id_brand">Brand</label>
        <input type="text" class="form-control" name="brand" id="id_brand" required>
        <div class="invalid-feedback">Please enter brand name</div>
      </div>

      <div class="form-group">
        <label for="id_price">Price</label>
        <input type="number" class="form-control" name="price" id="id_price" value="1" required>
      </div>

      <div class="form-group">
        <label for="id_stock">Stock</label>
        <input type="number" class="form-control" name="stock" id="id_stock" value="1" required>
      </div>

      <button type="submit" id="btn_ok" class="btn btn-primary">Create Variant</button>
    </form>

  </div>
  <div class="col"></div>
</div>





 <script>


// Get the form element and form fields
const form = document.getElementById("signup-form");
const brandInput = document.getElementById("id_brand");




brandInput.addEventListener("input", function() {
  if (brandInput.value.length == 0 ) {
    brandInput.setCustomValidity("Please enter a valid name");
  } else {
    brandInput.setCustomValidity("");
  }
});



form.addEventListener("submit", function(event) {
  // Prevent the default behavior of the "submit" event
  event.preventDefault();

  // Check if the form is valid
  if (form.checkValidity()) {
    // Submit the form
    form.submit();
  }
});

</script>


{% endblock %}
