{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">

		<div class="row mt-5 l-3 ">
    <div class="col-lg-4">
        <div class="box-element" id="form-wrapper">
			<form method="POST">
				{% csrf_token %}
                <div id="user-info">
                    <div class="form-field" aria-placeholder="Name">
							{{form.name}}
						</div>
						<div class="form-field">
							{{form.email}}
						</div>

                    </div>
                <div id="shipping-info">
                    <hr>
						<p>Shipping Information:</p>

						<hr>
						<div class="form-field">
							{{form.address}}
						</div>
						<div class="form-field">
							{{form.pincode}}

					</div>
						<div class="form-field">
							{{form.phone}}
						</div>
						<div class="form-field">
							{{form.date}}
						</div>
                </div>


                <hr>
                <input class="btn btn-success btn-block" type="submit" value="submit">
            </form>
        </div>
        <br>

		<div class="box-element hidden" id="payment-info">
			<small>Paypal Options</small>
			<button id="make-payment">Make payment</button>
		</div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
			{% for item in cartitems %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.varient.product.image.url}}"></div>
					<div style="flex:2"><p>{{item.varient.product.name}}</p></div>
					<div style="flex:1"><p>RS_{{item.varient.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
					<div style="flex:1"><p>RS {{item.get_total}}</p></div>
				</div>
			{% endfor %}

			<h5>Items:{{total_quantity}}</h5>
			<h5>Total:RS  {{total}}</h5>

			</div>


</div>

</div>
	</div>
	<div class="col-1"></div>
</div>



{% endblock content %}